[2018-01-25 21:59] chrisvxd opened #1 "Fix incorrect Webpack override example"
The webpack override example in the README, used for detecting stories, doesn't get picked up and results in the error

[code]

Need to update docs to specify that you need full control mode.

[2018-01-25 22:02] chrisvxd opened #2 "Add --config to switch between configs"
Currently we detect the nearest story2sketch.config.js. We should add the ability to switch different variations.

[2018-01-25 22:33] chrisvxd opened #3 "Support more than 2 viewports"
Enable total override of viewports, to define an infinite number of viewports.

This:

[code]

Becomes:

[code]

Defaults should remain the same. This will be a BREAKING CHANGE.

[2018-01-25 22:33] chrisvxd opened #4 "Sort symbols alphabetically"

[2018-01-25 22:33] chrisvxd opened #5 "User commander instead of yargs"

[2018-01-25 22:34] chrisvxd opened #6 "Add custom adaptors"

[2018-01-25 22:38] chrisvxd opened #7 "Cannot open `asketch.json` for IBM Carbon"
Carbon: https://github.com/carbon-design-system/carbon-components-react

When running in `-all` mode, or targetting `Accordion/Default` or `Card/card`, it successfully produces an `asketch.json` output, but seems the asketch plugin cannot open it.

[2018-01-25 22:43] chrisvxd opened #8 "Add SVG support"
See https://github.com/brainly/html-sketchapp/pull/47

[2018-01-25 22:49] chrisvxd opened #9 "Ensure custom querySelectors select all children"

[2018-01-25 22:59] chrisvxd opened #10 "Add examples"
Candidates:
* Lonely Planet Backpack UI: https://lonelyplanet.github.io/backpack-ui/
* Artsy Reaction: https://artsy.github.io/reaction
* Algolia Instant Search: https://community.algolia.com/react-instantsearch/storybook
* Buffer Components: https://bufferapp.github.io/buffer-components
* Quran: https://quran.github.io/common-components/
* AppBase: https://opensource.appbase.io/playground/
* GumG

[2018-01-25 23:00] chrisvxd opened #11 "Add story specific querySelector override"

[2018-01-26 15:55] monospaced opened #12 "Improve Quickstart documentation"
- [x] Be explicit about location/name of Sketch plugin file in `html-sketchapp`
- [x] Offer alternatives to cloning (i.e. zip)
- [ ] Document `build storybook` step

[2018-02-02 23:00] #12 closed

[2018-02-06 21:11] oliverbenns commented on #1
I tried specifying my own config. This fixed the first issue of `preview is not defined` but not now it outputs `preview.getStorybook is not a function`.
[code]

[2018-02-07 13:32] chrisvxd commented on #1
Hi @oliverbenns, which version of storybook are you using? I think `getStorybook` is only exported in 3.3+.

As a workaround, you could export the function manually in your `./storybook/config.js` file, like so:

[code]

Let me know if that works.

[2018-03-13 13:40] chrisvxd commented on #1
Closed in 9f5a615

[2018-03-13 13:40] #1 closed

[2018-03-13 13:52] oliverbenns commented on #1
Thanks @chrisvxd ! Apologies for not getting back to you. 🎉

[2018-03-13 14:02] chrisvxd commented on #1
Not to worry @oliverbenns. Did you get it working?

[2018-03-13 14:06] oliverbenns commented on #1
This was part of a hack day so unfortunately was abandoned. We'll look to revisit this at some point. 👍

[2018-03-14 09:54] chrisvxd opened #14 "Upgrade to html-sketchapp 1.1.0"

[2018-03-25 18:10] #8 closed

[2018-03-25 18:15] chrisvxd commented on #14
Closed in #15

[2018-03-25 18:15] #14 closed

[2018-03-26 10:47] chrisvxd opened #16 "Output symbols have incorrect order"
Ordering is seemingly random, probably due to concurrency. The order should retain the story order in `story2sketch.config.js`.

[2018-03-27 11:30] chrisvxd opened #17 "Better layer names"
The names given to layers are currently ugly:

[code]

This should be prettified, perhaps following CSS convention, i.e.

[code]

[2018-04-09 07:04] siddharthkp commented on #1
Update: Doesn't without `export { getStorybook }` in `3.3.15`

Might want to include it in the docs

[2018-04-09 09:05] chrisvxd commented on #1
Thanks @siddharthkp, I'll look into this and correct docs this week.

[2018-04-09 09:10] chrisvxd opened #18 "getStorybook doesn't exist in expected versions of storybook"
## Problem

[code]

Original comment: https://github.com/chrisvxd/story2sketch/issues/1#issuecomment-379654968

## Solution

Update docs to reference correct version, and add this note for other versions of storybook:

[2018-04-24 10:41] nettiopsu opened #19 "Add note on "Navigation timeout exceeded""
Hello, I am trying to export a Storybook, which has 38 examples

For some reason, it goes through 4 of them and then it collapses on error Navigation Timeout Exceeded: 30000ms exceeded

According to the source code, it happens in getSymbolsForStory:

`await page.goto(builtUrl, {
      waitUntil: "networkidle2"
});`

and it says before showing timeout error:
TypeError: Cannot read property 'goto' o

[2018-04-24 20:25] chrisvxd commented on #19
Hey @nettiopsu! I've also encountered this in the past, and solved it by tweaking the concurrency.

Could you try reducing the concurrency to 2 or 1? https://github.com/chrisvxd/story2sketch#api

Background: story2sketch runs a headless chrome instance with multiple tabs. Concurrency controls the number of open tabs at any one time.

[2018-04-24 21:28] chrisvxd opened #20 "Flatten empty layer groups"
Since the layer grouping now follows the DOM tree, we often end up with groups-in-groups in sketch.

<img width="339" alt="screenshot 2018-04-24 22 25 34" src="https://user-images.githubusercontent.com/985961/39215040-6dc87ad2-480e-11e8-9a4d-2ab7f5c4f229.png">

To make sketch easier to manage, if each leaf in the tree is an orphan, it would be good to have an option to flatten it to a single group

[2018-04-25 05:23] nettiopsu opened #21 "babel-runtime/regenerator is missing"
Hello,

story2sketch immediately crashed when I tried to run it for the first time, saying that babel-runtime/regenerator is not installed

Installing it globally with npm install -g babel-runtime solved the issue

`Error: Cannot find module 'babel-runtime/regenerator'
    at Function.Module._resolveFilename (module.js:542:15)
    at Function.Module._load (module.js:472:25)
    at Module.require (

[2018-04-25 11:04] kdzwinel commented on #20
I'm up for adding 'flatten' option to `nodeTreeToSketchGroup` 👍 Feel free to take a stab at it.

https://github.com/brainly/html-sketchapp/issues/94

[2018-04-25 11:15] chrisvxd commented on #20
@kdzwinel Great. Will have a go if I find the time.

[2018-04-25 11:18] chrisvxd commented on #21
Thanks @nettiopsu! Will investigate.

[2018-04-25 12:49] chrisvxd opened #22 "Consider font replacements"
Encountered by auth0 in cosmos design system (https://github.com/auth0/cosmos/pull/484).

Proposed solution would be to add font replacements via config, applied [like this](https://github.com/brainly/html-sketchapp-style-guide/blob/06722b663e15eaeef32491ce388e466f10ae43ae/src/styleguide2asketch.js#L56-L58).

[2018-04-25 13:06] chrisvxd opened #23 "Remove large logo"
The large logo is unnecessary, and pollutes the shell. Make small logo default, and remove the large logo.

[2018-04-30 00:46] miamollie commented on #21
I don't have much to add, but experiencing the same issue and the global install also solved it for me. :)

npm version `5.4.2`
node version `v8.6.0`

[2018-04-30 11:15] chrisvxd opened #24 "Better error handling"
Error messages are currently unclear, and if one page fails, it has a knock on effect and breaks all remaining pages.

Cases:

1. Story does not exist

TBD

[2018-05-01 21:05] chrisvxd opened #26 "Simplify initial setup"
We should try and move 2 things upstream to storybook to make the setup simpler.

## Webpack config

[code]

## getStorybook config

[code]

See README for docs. Must update this, also.

[2018-05-01 21:19] #21 closed, assigned to chrisvxd

[2018-05-01 21:24] chrisvxd commented on #3
Closed by #25

[2018-05-01 21:24] #3 closed

[2018-05-06 13:51] #16 closed

[2018-05-15 10:25] chrisvxd opened #28 "Support symbol resizing"
See https://github.com/brainly/html-sketchapp/pull/90.

[2018-05-29 20:26] frantz101 opened #29 "UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: preview is not defined"
I am trying to set up this tool, i followed the read me but getting
"UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: preview is not defined" when i run the command line command.
here's what my package.json looks like

[code]

and here's what my config files look like

[code]

webpack.config.js

[code]

thanks!

[2018-05-31 18:21] mariarelian commented on #29
Having a similar issue
(node:44212) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: preview is not defined
    at <anonymous>:1:1
    at ExecutionContext.evaluateHandle (/usr/local/lib/node_modules/story2sketch/node_modules/puppeteer/lib/ExecutionContext.js:75:15)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:118:7)
(node:44212) Unhandle

[2018-06-01 08:35] chrisvxd opened #30 "Upgrade to html-sketchapp@3.2.0"
Once it lands, tracking https://github.com/brainly/html-sketchapp/pull/98

CC @simon360

[2018-06-01 08:42] chrisvxd commented on #29
Hi @frantz101, this is usually caused by issues in the webpack config, and I think I can see the issue with yours.

You're defining `newConfig`, adding the `library` parameter to `output` correctly, but not returning it. I would suggest updating it to:

[code]

Let me know if that helps. @mariarelian I would presume a similar issue with your webpack config - feel free to post below and I'll try to

[2018-06-01 09:17] chrisvxd opened #31 "Support storybook@4.0.0"
Need to confirm storybook@4.0.0 works as expected.

[2018-06-02 17:16] frantz101 commented on #29
That fixed my issue! thanks!

[2018-06-04 13:26] chrisvxd commented on #29
Great, going to close this issue.

@mariarelian if you still need help, please feel free to open another issue and I'll do my best to assist.

[2018-06-04 13:26] #29 closed

[2018-06-14 09:50] #30 closed

[2018-06-14 10:07] chrisvxd opened #34 "Move bundled dependencies to devDependencies"
Many dependencies are bundled into the app as part of the current compilation process, but are listed in `dependencies`. This might lead consumers of story2sketch to believe they can control the installed version of html-sketchapp, when bumping the version will do nothing since it is compiled into the bundle.

These `dependencies` should be moved into `devDependencies` to prevent misleading consum

[2018-06-14 10:09] chrisvxd opened #35 "Consider runtime compilation"
Bundling of the `src/browser` code is necessary to allow that component of story2sketch to run in headless chrome.

Currently, all dependencies are compiled into story2sketch before distribution (which means that installing them as dependencies is misleading, see #34).

Realtime (or last minute) compilation would enable consumers of the package to control `dependencies` installed, such as `html-sk

[2018-06-19 09:11] #24 closed

[2018-06-19 12:45] andrewshawcare opened #36 "Allow options to be passed to Puppeteer"
I'm using Docker in my project and receiving the following error:

`[0619/122651.197333:ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported. See https://crbug.com/638180.`

I'd like to allow Puppeteer to be launched with the `--no-sandbox` argument. Ideally, this could be implemented in [this line](https://github.com/chrisvxd/story2sketch/blob/37dc447126d4ff0

[2018-07-11 00:22] andrewshawcare commented on #36
Any updates on this?

[2018-07-11 13:58] andrewshawcare commented on #36
Further information regarding the need to set `--no-sandbox`: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

[2018-07-11 13:59] andrewshawcare commented on #36
Apparently the SUID sandbox has been _almost_ completely removed: https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md

[2018-07-22 10:41] chrisvxd commented on #36
Sorry for the delay @andrewshawcare, have been away on holiday.

I'll try and have a look into this for you. Passing properties via the story2sketch config sounds like a great idea.

[2018-07-22 10:42] chrisvxd commented on #36
Just saw your PR! Thanks. Will review that.

[2018-07-22 10:46] chrisvxd opened #40 "Add puppeteer options to docs"
See #37

[2018-07-22 10:48] chrisvxd opened #41 "Update docs for storybook 4 forward compatability"
Since storybook 4 is not released yet, primary doc path should still be Storybook 3, but we should note storybook 4 does _not_ need webpack extension. This should become the default when storybook 4 is released.

See #38 and #31

[2018-07-22 10:49] chrisvxd opened #42 "Deprecate storybook 3 support after storybook 4 released"

[2018-07-22 11:05] #36 closed

[2018-07-26 13:00] chrisvxd commented on #26
Will become much easier with advent of storybook@4, due to STORYBOOK_CLIENT_API (see https://github.com/storybooks/storybook/pull/3058)

[2018-07-26 13:01] chrisvxd commented on #10
Will be better to do this once storybook@4 is released and integrated, as story scanning will work seamlessly.

[2018-08-08 08:07] chrisvxd commented on #41
Have added initial note in 9b3cf74, but will need to make default once storybook 4 is released.

[2018-08-08 08:29] chrisvxd opened #43 "Automate sketch plugin install"
See solution from html-sketchapp-cli [here](https://github.com/seek-oss/html-sketchapp-cli/blob/5818868eb4c22eb177bd121ca93d7f064558ac16/bin/cli.js#L172).

CC @markdalgleish nice solution.

[2018-08-08 08:30] chrisvxd opened #44 "Upgrade to html-sketchapp@4.0.0"

[2018-08-08 08:39] chrisvxd commented on #44
Closed by cfcf827

[2018-08-08 08:39] #44 closed

[2018-08-08 08:44] chrisvxd commented on #40
Closed

[2018-08-08 08:44] #40 closed

[2018-08-08 08:45] chrisvxd commented on #26
Will be closed as part of #41

[2018-11-17 23:46] hipstersmoothie commented on #10
@chrisvxd  do those project use story2sketch? I currently have the script finding all stories but the output had seemingly nothing in it.

[code]

[2018-11-18 00:12] hipstersmoothie opened #47 "Does this work with html storybooks?"
I get the following error trying to use my html storybook

cessing 1 stories...
Error: Evaluation failed: TypeError: node.getBoundingClientRect is not a function
    at nodeTreeToSketchGroup (/Users/alisowski/Documents/intuit-components/node_modules/story2sketch/lib/server/../browser/page2layers.bundle.js:1693:18)
    at Object.getSymbol (/Users/alisowski/Documents/intuit-components/node_modules/s

[2018-11-23 13:09] aloifolia opened #49 "Components are exported twice"
Whenever I import the generated `stores.asketch.json` into Sketch, every component is listed twice.

For example, the following code

[code]

yields the following result:
<img width="1156" alt="screen shot 2018-11-23 at 14 03 45" src="https://user-images.githubusercontent.com/1295054/48944885-ac1b4a00-ef28-11e8-823c-d284332dd748.png">

Also, the container around the button is drawn too small and t

[2018-11-23 13:32] TonyMasterR opened #50 "doesnt work with some react-bootstrap components"
i use React to display UI, exactly react-bootstrap components library, when i try to generate asketch.json via CLI, the process stops on 40%, some components that displays properly in storybook don't get into asketch.json

need help with that
<img width="1440" alt="screenshot 2018-11-23 at 16 29 18" src="https://user-images.githubusercontent.com/13406235/48946008-5b621c00-ef3d-11e8-99c4-8a41d37da0

[2018-11-23 14:30] TonyMasterR commented on #50
i found solution, the problem is wtih concurrency, I set it to value 2 and it works well

[2018-11-23 14:30] #50 closed

[2018-12-02 16:46] chrisvxd opened #51 "Exit cleanly on error"
When encountering an error in the page, it causes the page to become undefined and subsequent attempts to run `goto` on the page to cause a lot of errors:

[code]

with the latter error repeating as many times as there are symbols remaining.

When encountering an error in a page, story2sketch should exit cleanly.

[2018-12-02 16:49] chrisvxd opened #52 "Add unit tests"

[2018-12-04 11:18] chrisvxd commented on #49
Hey @aloifolia! That's because you're using the default `viewports` functionality - the one on the left is mobile, the one on the right is desktop, as denoted by the little 📱 and 🖥 . You can update your `storybook.config.js` file to configure this and set one viewport, if you need:

[code]

Regarding the button, can you show me a screenshot of what it _should_ look like please?

[2018-12-04 11:18] chrisvxd commented on #47
@hipstersmoothie I'll look into this - I haven't tested it with HTML only, but it _should_ work.

[2018-12-04 20:04] hipstersmoothie opened #54 "Running on CircleCI"
Works great locally. Trying to integrate it with my release automation on circleCI. Currently i have verbose logging on and it hangs here

[code]

Putting this here for visibility. I will probably investigate this today but if you have any pointers they are welcome!

relevant config.yml

[code]

[2018-12-04 21:46] hipstersmoothie commented on #54
Fixed this by adding the following to my `story2sketch.config.js`

[code]

[2018-12-10 09:36] chrisvxd commented on #54
👏 Nice work on this.

For some weird reason, I'm _still_ only getting sporadic notifications for this repo, so only stumbled on this by browsing the project. Going to double check all my settings...

[2018-12-10 15:16] damorton opened #56 "Format of config"
[code]
Some more information on the config would be good. What does `kind` mean? How do I select only one story to convert? at the moment I'm working on a large design system but I cant figure out how to filter the stories.

In my directory structure I have stories defined in `stories/Components/Card/CardStory.jsx` how do I target only that story using the config?

[2018-12-10 16:55] chrisvxd commented on #56
@damorton would you still like clarification on this?

[2018-12-10 23:10] #54 closed

[2018-12-11 07:41] damorton commented on #56
No its fine I figured it out, but through trial and error, I would add some examples of use with all config variables set to either true/false so we know whats available. Also an short comment on exactly what each option means and how it maps back to sketch would be useful.

[2018-12-11 08:38] beautifwhale opened #57 "`querySelector` dept"
Just playing around with this and I dont think the `querySelector` works as expected.

Using
[code]
Only selects '#root div', I'll do more testing...

[2018-12-11 10:05] chrisvxd commented on #56
Thanks for the feedback @damorton, I'm going to re-open this issue so I have a reference.

[2018-12-11 10:43] damorton commented on #57
Maybe its just my understanding of the `querySelector ` so what I want do is only output whats inside the `#root div div` to sketch, but instead its outputting everything under `#root` wether I use `#root div div` or '#root'

[2018-12-11 11:02] damorton commented on #57
[code]

Getting

![screenshot 2018-12-11 at 10 59 54](https://user-images.githubusercontent.com/3397660/49796187-ea3fa880-fd33-11e8-8b66-9342b3672a76.png)

Based on the above config `#root div div` the Sketch output includes the Implementation text, but this is not inside `#root div div`.

<img width="1178" alt="screenshot 2018-12-11 at 11 02 07" src="https://user-images.githubusercontent.com/3397

[2018-12-11 11:23] chrisvxd commented on #57
@damorton I don't think you're misinterpreting the `querySelector` functionality, but I'm struggling to reproduce.

Is it possible to get access to your source to investigate? If not, would you be able to provide me with a code snippet so I can attempt to reproduce?

[2018-12-13 01:11] vgpena opened #59 "Sketch cannot import generated layers"
Hi! I've been testing this out an am running into export/import issues with my generated layers.

story2sketch version: 1.4.0
storybook/react version: 4.0.7
Sketch version: 52.5

When I run `story2sketch`, story2sketch finds my stories (1 component, 2 stories) and generates mobile/desktop for each, for 4 layers total. This all looks correct:

[code]

But when I import the file into Sketch, I get t

[2018-12-17 12:52] chrisvxd opened #60 "Address failing Sketch import"
Initial discussion https://github.com/chrisvxd/story2sketch/issues/59

## Overview

Various storybooks result in the following message when importing into sketch:

![](https://user-images.githubusercontent.com/1166226/49908502-c3ff3300-fe2f-11e8-9007-6384d0a82b2b.png)

This likely occurs under a variety of circumstances where `html-sketchapp` is failing to convert the markup to sketch nodes for cu

[2018-12-17 12:53] chrisvxd commented on #59
Hi @vgpena! Thanks for the detailed ticket! 🙏

This is definitely reproducible and a common issue. Are you able to share your source? That will help me to identify the issue.

I think the problems causing this issue are probably in the core `html-sketchapp` dependency, and the error you're seeing occurs under a variety of circumstances where `html-sketchapp` is failing to convert the markup to ske

[2019-01-22 00:38] cameronmurphy opened #61 "--stories argument is never parsed"
To pass stories via the command line, the `--stories` argument needs to be parsed. It is simply merged into the config as a string here: https://github.com/chrisvxd/story2sketch/blob/master/src/server/index.js#L61

For it to work I had to add:
[code]

[2019-01-23 16:31] meuwka commented on #22
any ideas how to fix this?

[2019-01-25 16:24] chrisvxd commented on #57
@beautifwhale updating comment handle because I think you renamed.

[2019-01-26 12:42] #57 closed

[2019-03-21 17:46] acrossell-hedgehog commented on #61
Hi,

I'm having issues defining which stories to export from Storybook. I'm able to export all stories without any problems but I've found the documentation hasn't really described how to target specific stories. Having read the above (forgive me, I'm a designer and a lot of that went over my head), it seems this functionality may not be in place at the moment. Is this correct?

[2019-03-21 18:41] acrossell-hedgehog commented on #56
Hi Chris, could you clarify this for me please?

[2019-03-22 12:47] acrossell-hedgehog commented on #56
Sorted with some trial and error. Thanks for a great tool!

[2019-03-22 14:15] acrossell-hedgehog opened #62 "Background images rendered outside of symbol when using background position"
If an element has a background image position set, the background image is rendered outside of the symbols bounds when imported into Sketch. Is there a known workaround for this?

[2019-03-27 08:46] chrisvxd commented on #62
Hi @acrossell-hedgehog, this sort of functionality is generally handled by the core dependency `html-sketchapp`. I'm due to upgrade to the latest version, which may address this issue, but I haven't had a chance to investigate yet. Will let you know :)

[2019-03-27 15:38] acrossell-hedgehog commented on #62
That's great news Chris! I'm looking to put this at the center of our design process and this is the only hurdle that the design team may have an issue with. I can't wait to see it drop into place!

[2019-03-27 16:02] acrossell-hedgehog opened #63 "Exporting defined groups"
Forgive me if this is currently possible and I've missed something but...

I'd love to be able to export predefined groups of components. For example;

Export all and only form components or header bars. Currently, it seems I would have to amend my config each time I want to target specific component groups?

[2019-03-30 22:43] hipstersmoothie commented on #63
Yeah this is something I want too. Right now we have 44 stories and growing. This makes a huge file export. It would be cool if we could have story2sketch make a file for each top level story.

For a grouping api it could look something like this

*Generate a separate `asketch` file for each story:*

[code]

[code]
[code]

[2019-04-02 07:56] chrisvxd commented on #63
It sounds like you're talking about two different things:

1. @acrossell-hedgehog you seem to be looking for a way to export an entire "kind" (i.e. "form") without needing to specify each story every time you add a story to that kind in storybook. You don't seem concerned about the file output size.
2. @hipstersmoothie you're looking for a way to split the output file into multiple smaller files.

[2019-04-02 09:54] chrisvxd commented on #62
Hey @acrossell-hedgehog - I'm currently investigating this and I'm unable to reproduce the scenario you're describing. I have:

[code]

In storybook:

<img width="200" alt="Screenshot 2019-04-02 10 52 30" src="https://user-images.githubusercontent.com/985961/55393574-6c4b1b80-5535-11e9-8851-7ba7329ced25.png">

In sketch (ignore changing image):

<img width="340" alt="Screenshot 2019-04-02 10 53 08

[2019-04-02 15:22] acrossell-hedgehog commented on #63
Hi Chris,

@hipstersmoothie 's solution is exactly what I'm looking for. The main reason being that every export overwrites all of the components meaning they all have to repinned every time for scaling resizing in Sketch. If they were split into files then this task's required effort would be significantly reduced.

[2019-04-02 15:51] acrossell-hedgehog commented on #62
Hi @chrisvxd,

I believe the issue arises when background size is set to cover or contain

[2019-04-02 16:28] chrisvxd commented on #63
I see! I'm not sure @hipstersmoothie's solution is going to work for above use case since it's focussed on a zero-config approach, grouping by `kind`. Above, you're grouping different `kinds`.

@hipstersmoothie thoughts?

[2019-04-02 16:38] acrossell-hedgehog commented on #63
Apologies for any lack of congruence... I'm a designer so this is all slightly alien to me.

[2019-04-05 07:16] hipstersmoothie commented on #63
Something like that shouldn't be too big of a lift. I could probably use this feature as well. My current implementation breaks up the files a bit and the above API would help.

[2019-04-05 08:45] chrisvxd commented on #63
What are you thinking? Would be keen to discuss the API before you put too much time into it.
On 5 Apr 2019, 08:17 +0100, Andrew Lisowski <notifications@github.com>, wrote:

[2019-04-05 19:01] hipstersmoothie commented on #63
you could do it by add a group to the `stories` section

[code]

this doesn't account for people not using the stories section though. I would need to think more to find something more generic. I could be another config option like I talk about above in my first comment

[2019-04-08 13:52] chrisvxd commented on #63
@hipstersmoothie I like the `kind` functionality you've added. I'm not totally sold on using a regex.

What about the following API:

* `outputBy` (`kind | group`): output file based on kind or group
* `layoutBy` (`kind | group`): layout file based on kind or group

And adding an optional `group` key to the `stories` API?

[2019-04-08 14:21] chrisvxd commented on #62
@acrossell-hedgehog I've noticed some issues with `background-size: contain`, but I'm unable to reproduce exactly what you're talking about, or any issues with `cover`. **I can't really diagnose further without a concrete CSS example with screenshots describing what you're encountering**.

Having said that, this is more than likely an issue with [`html-sketchapp`](https://github.com/brainly/html-s

[2019-04-09 16:54] hipstersmoothie commented on #63
yeah that seems like a doable API. does storybook define the groups or it that on the story2sketch user?

I can implement this in my current PR but it seems like it is getting a little big at that point. Maybe I could just change my current code to fit your above API and implement group sorting in a follow up PR

[2019-04-10 08:00] chrisvxd commented on #63
@hipstersmoothie My thinking is if using `group`, the user defines the group as you / @acrossell-hedgehog described:

[code]

Re your PR, if you update it to match above then I'll proceed with review :)

[2019-04-22 18:31] chrisvxd commented on #63
@acrossell-hedgehog I've merged some new changes to master, thanks to @hipstersmoothie and some additional changes to support exactly what you're talking about.

I've added it to the docs, see this section: https://github.com/chrisvxd/story2sketch#output-one-file-for-each-custom-group.

Just doing a release now.

Let me know if that looks good to you.

[2019-05-02 13:47] Adomas202 commented on #50
I have the same issue. However, setting concurrency to 2 doesn't make a difference 😿.

[2019-05-02 15:27] chrisvxd commented on #50
Glad you solved it @TonyMasterR. I need to update the default for the project for 2, since it's a safer default than 4.

[2019-05-02 18:15] Adomas202 commented on #50
Also, I would like to add that for me only when I add concurrency 2 before the URL and other configs in launch command I am not getting that error.
For instance: story2sketch --concurrency 2 --url https://localhost:9001/iframe.html --output stories.asketch.json

[2019-05-03 07:32] Adomas202 opened #67 "Change default concurrency from 4 to 2"
As I see some people, me included, have issues with concurrency. By default it is set to 4, however, most of the people report that with --concurrency set to 2 some main issues disappear. My suggestion would be to change default setting and update API documentation.

[2019-05-07 16:06] acrossell-hedgehog commented on #63
Hi Chris,

I've just gotten around to trying this and I'm still getting output to a single file. Is my config correct?

module.exports = {
  // output: "design",
  outputBy: "group",
  url: 'http://localhost:9009/iframe.html',
  concurrency: 2,
  symbolGutter: 200,
  fixPseudo: true,
  pageTitle: 'Story2Sketch',
  viewports: {
    standard: {
      width: 320,
      height: 1136,
      symbolPrefi

[2019-05-07 16:15] chrisvxd commented on #63
@acrossell-hedgehog You need to specify an output directory via the `output` parameter. If you uncomment that line, and ensure the `design` directory exists, it should work.

[2019-05-07 16:20] acrossell-hedgehog commented on #63
I tried that but no luck. I'm getting this error.

`output: "design",
  outputBy: "group",
  layoutBy: "group",
  url: 'http://localhost:9009/iframe.html',
  concurrency: 2,
  symbolGutter: 200,
  fixPseudo: true,
  pageTitle: 'Story2Sketch',
  viewports: {
    standard: {
      width: 320,
      height: 1136,
      symbolPrefix: 'Desktop/',
    },
  },`

<img width="214" alt="Screenshot 2019-05-0

[2019-05-07 16:43] acrossell-hedgehog commented on #63
Thanks for the quick response @chrisvxd

I tried that but no luck. I'm getting this error.

[code]

<img width="214" alt="Screenshot 2019-05-07 at 17 19 11" src="https://user-images.githubusercontent.com/35331230/57317295-a9d03500-70ef-11e9-9888-e87849ff9ca0.png">

[2019-05-08 02:55] leerob opened #68 "How do you debug why things aren't working?"
I've been trying everything I can do to get this working with no luck. Whenever I import the file into Sketch, it's always empty.

I tried doing the custom config and only selecting a story and that didn't seem to change anything. Is this because I'm using Storybook 5?

So my question is: How can I debug when the import into Sketch doesn't output anything?

[2019-05-08 14:33] acrossell-hedgehog commented on #63
If I specify the filename it works but outputs just one sketch file containing all stories @chrisvxd

[2019-05-09 00:01] acrossell-hedgehog commented on #62
Thanks @chrisvxd. It does seem to be center and contain that present the issue. Using pixel positioning is a fine workaround. I'll raise this on html-sketchapp. I've noticed a few people are looking for a solution to this.

[2019-05-09 00:02] #62 closed

[2019-05-09 14:45] acrossell-hedgehog commented on #67
Yeah I had to make that adjustment too. Seems a sensible suggestion.

[2019-05-10 00:08] acrossell-hedgehog opened #69 "Upgrade to html-sketchapp v4.0.1"
There seems to be an issue in html-sketchapp where SVG's comprising of only one layer fail to import and cause the asketch import to fail completely.

https://github.com/brainly/html-sketchapp/issues/165
https://github.com/brainly/html-sketchapp/issues/137

v4.0.1 seems to have a fix in place. Are there any plans to upgrade the version in story2sketch?

[2019-05-10 00:12] acrossell-hedgehog commented on #62
The problem seems to be with background-position: center

[2019-05-10 12:12] chrisvxd opened #70 "Improve debugging process"
Currently debugging stinks. Let's make it easier to debug issues when generating output.

Original issue from #68:

[2019-05-10 12:14] chrisvxd commented on #68
Hi @leerob. Unfortunately story2sketch doesn't do a great job at making it easy to debug.

There's a myriad of technologies at play, and some can be a little brittle (for example, html-sketchapp), and errors often to get swallowed up and things fail silently.

I'd really like to improve this, so I've just opened #70.

So I can help with your _particular_ issue, are you able to share your storybook

[2019-05-10 12:16] chrisvxd commented on #69
Always plan to stay up to date so will investigate shortly.

[2019-05-10 12:17] chrisvxd commented on #67
Yup thanks @Adomas202. This has been on my radar for a while, but haven't got around to it. Will update today.

[2019-05-10 12:37] chrisvxd commented on #69
Have upgraded in https://github.com/chrisvxd/story2sketch/commit/4db415767dcaddf74b68c14f369fec8a1eaf4cfe. Will do release soon, once other issues resolved.

[2019-05-10 12:39] acrossell-hedgehog commented on #69
Cheers @chrisvxd!

[2019-05-10 12:39] chrisvxd commented on #70
Closely related to https://github.com/chrisvxd/story2sketch/issues/60.

[2019-05-10 12:40] acrossell-hedgehog commented on #68
@leerob, I've also been having issues debugging. I've found sketch dev tools very helpful with import issues.

https://github.com/skpm/sketch-dev-tools

[2019-05-10 12:44] chrisvxd commented on #63
@acrossell-hedgehog sorry for slow response. Two things:
1. That error is from node, and it looks like it can't find the path. Are you executing `story2sketch` from the same directory?
2. Remove `layoutBy` as it's incompatible with `outputBy`, but this shouldn't be causing the above error.

[2019-05-10 12:46] chrisvxd commented on #49
Closing

[2019-05-10 12:46] #49 closed

[2019-05-10 12:46] chrisvxd commented on #19
Closing in favour of #67

[2019-05-10 12:46] #19 closed

[2019-05-10 12:51] acrossell-hedgehog commented on #63
No, I was running from the root of the project. Running from the design dir processes the stories but is outputting a single file titled "design", it has no extension.

[2019-05-10 13:05] chrisvxd commented on #63
Right, try using the relative path to the file from where you're running story2sketch. Here's a trick:
[code]

Note those are backticks, not single quotes.

[2019-05-10 13:17] acrossell-hedgehog commented on #63
"story2sketch": "^1.5.0"

^^ Correct version yeah?

[2019-05-10 14:17] chrisvxd commented on #63
@acrossell-hedgehog yup. Can you try with an absolute path to the dir?

I suppose it could also be a permission problem.

[2019-05-12 20:19] acrossell-hedgehog commented on #63
Sorted @chrisvxd, thanks for all your help!

[2019-05-13 08:47] chrisvxd commented on #63
@acrossell-hedgehog excellent! What was the problem in the end?

[2019-05-13 08:47] #63 closed

[2019-05-13 09:17] acrossell-hedgehog commented on #63
I updated node and removed and reinstalled story2sketch.

The sketch files it's generating are spot on Chris. Many many thanks :)

[2019-05-13 23:06] chrisvxd commented on #63
Awesome! Really glad it's working 😁

[2019-05-20 11:47] chrisvxd commented on #69
@acrossell-hedgehog Other issues haven't had any response so I've just released v1.6.0, including latest html-sketchapp!

[2019-05-20 11:47] #69 closed

[2019-08-01 08:57] s10wen opened #80 "'WARNING: No matching node' Error"
[code]

Here's the full log, if it's useful:
[code]

[2019-08-01 09:00] s10wen commented on #80
the `stories.asketch.json` came out as:

[code]
Importing to Sketch, I can see a 'Stories' page, but doesn't look to have any content in.

[2019-08-01 09:02] s10wen commented on #80
Using Storybook 5.1.10

[2019-08-01 09:21] s10wen commented on #80
I noticed in the README.md example the link is `https://localhost:9001/iframe.html`. I can individual stories e.g. at `http://localhost:6006/iframe.html?id=button--all`, but at `http://localhost:6006/iframe.html` I see 'No Preview'.

I'm wondering if there is an extra step I'm missing where I should see content at `http://localhost:6006/iframe.html`, or is the 'No Preview' expected behaviour?

[2019-08-01 09:29] s10wen commented on #80
Made some progress 😍

Instead of running the `cli` command, I setup a `story2sketch.config.js` in the root:

[code]

Then ran `story2sketch` from the project root path. Doing so I had the error:
[code]

I created the file and ran again and it worked :)

[2019-08-01 09:47] s10wen commented on #80
Storybook View:

![Storybook](https://i.imgur.com/pMSE1jw.png)

Sketch View:

![Sketch](https://i.imgur.com/ZXAMLsO.png)

Not sure if there's an issue with the way I've got multiple components in a story, but looks to just be pulling in the first one.

[2019-08-01 09:49] s10wen commented on #80
Example `Button.stories.js` code 'All' appears to be causing an issue and errors:

[code]

Remove the 'All', using the following code, seems to work:

[code]

[2019-08-01 09:51] s10wen commented on #80
Hope that helps, apologies it's a bit scattered. Great project, I hope it continues to improve 👍🏻💫

[2019-09-17 10:58] #67 closed

[2019-09-17 11:01] chrisvxd commented on #80
Hi @s10wen thanks for the all the info. Apologies for taking a while to respond.

So AFAIK storybook won't play well with multiple components per story since it assumes a 1 to 1 mapping between stories and symbols. You could try playing around with the `querySelector` param, but I haven't tried myself.

[2019-09-17 14:27] s10wen commented on #80
Ah, good to know, I'm working on a large Storybook component library, so multiple would have been nice, can always split up. Cheers!

[2019-10-16 13:38] LanceALaughlin commented on #51
@chrisvxd any information on this error? I'm getting it when trying to run sketch2story and not sure where to debug. Thanks!

[2019-10-22 19:12] chrisvxd commented on #51
Hey @LanceALaughlin, it generally means that storybook isn't rendering correctly so story2sketch can't find the node on the page.

Can you confirm your storybook renders in the browser? If not, fix that first. Otherwise, feel free to share your story2sketch config.

[2019-10-23 07:54] opmind opened #87 "Is it possible to export all knobs variants to sketch?"
For angular storybook knobs-addon based story variants doesn`t export to sketch. Is it possible to enable export through story2sketch configuration?
It is also interesting how to export elements in different states (hover, active, focused,..) by scripting puppeteer options?

[2019-10-24 07:51] opmind commented on #87
![image](https://user-images.githubusercontent.com/24660384/67464374-e9fa8400-f64b-11e9-84e8-8c17a5bf6f72.png)
For example I created disabled state through knobs, it shows on url with parameter http://localhost:6006/iframe.html? ... &knob-disabled=true

[2019-11-19 13:58] SuneRadich commented on #60
I was struggling with only one of my stories importing correctly in Sketch. Until I changed the querySelector configuration option.

I am running an Angular storybook, so all my stories were wrapped in angular components.

When I added
[code]

All my stories were imported in Sketch.

[2019-11-19 18:01] Peeja opened #88 "Config option to include all stories in a "kind""
I was hoping I could do:

[code]

but that doesn't appear to be supported. We have lots of stories for our Button component, demonstrating the various states it can have. I'd rather not enumerate them here and keep that list up to date. But I also don't want to include all stories in our Storybook.

[2019-11-19 18:22] Peeja opened #89 "Hangs and times out when processing more stories than concurrency"
`story2sketch` started timing out as soon as I had more than 16 stories. Turns out that's the value it's computing for `concurrency`. If I set `concurrency` to 17, I can run 17 stories; if I set it to 15, I can only run 15.

It fails with `TimeoutError: Navigation Timeout Exceeded: 30000ms exceeded` at `node_modules/puppeteer/lib/LifecycleWatcher.js:142:21`.

[2019-11-19 18:25] Peeja commented on #89
Ah, it's failing at:

[code]

I don't know Puppeteer at all, but I gather `networkidle2` never happens on my machine for some reason.

[2019-11-20 07:56] SuneRadich commented on #89
I had the same issue, mine runs through all stories when I set concurrency to 2

[2019-11-20 16:43] Peeja commented on #89
Huh, me too. 3 seems to work also.

I wonder if Puppeteer is looking at connections across all the window's tabs to determine when the network is idle?

[2019-11-26 05:42] chrisvxd commented on #89
Hey @Peeja, thanks for reporting this. Can you confirm what version you're using?

This was supposed to be fixed in #71, but perhaps it didn't work as expected.

[2019-11-26 15:06] Peeja commented on #89
@chrisvxd I'm on 1.7.0, so I should have that change. But I don't think it's related. That causes it to (correctly) default the concurrency to 16, but the issue here is that any time the concurrency (default or explicit) is smaller than the number of stories, it times out waiting for `networkidle2`.

If the concurrency is greater than or equal to the number of stories, each gets its own tab, and t

[2019-12-18 09:36] bitfactory-lasse-vandenboschchristensen commented on #80
@chrisvxd @s10wen same issue here. As a test case i'm using a official Storybook demo storybook example:

[code]

[2019-12-20 14:26] OnrCanJotform commented on #89
Having the same issue with version 5.2.8

[2020-01-17 20:23] gabriel-kohen-by opened #91 "Support Storybook v5"
It seems like the latest supported is v4.
Most new updates to storybook are done to v5

[2020-01-24 09:43] SuneRadich commented on #59
@gavmck This solved my iussues of importing. I am also using an Angular Storybook (5.3.8), and it seems to do the trick for all my stories

[2020-02-01 14:40] prathameshkoshti opened #92 "Error: Evaluation failed: ReferenceError: __STORYBOOK_CLIENT_API__ is not defined"
Trying out this tool on [React95](https://github.com/arturbien/React95)'s storybook
I followed the read me document. I'm not able to figure out where I'm heading in the wrong direction.

Here's my package file:
[code]

Here's the config file:
[code]

And webconfig file:
[code]

[2020-02-27 15:33] njradford commented on #91
@chrisvxd - Storybook v4 to v5 seemed to be a less severe jump than 3 to 4. Do you know what aspects of story2sketch would break in an upgrade?

(Awesome project by the way.)

[2020-02-28 22:32] llazarus commented on #92
As noted in https://github.com/chrisvxd/story2sketch/issues/91, the latest supported version appears to be v4.

I'm experiencing similar issues to yourself with @storybook/react version 5.2.8

[2020-03-03 16:28] FarisSum commented on #91
Hi @gabriel-kohen-jdas
I was able to export a JSON, even with Storybook 6.0 alpha.

However, when importing into sketch, all I get is a "Stories" layer with nothing inside.

What do you think could be the issue?

[2020-03-27 16:00] jakub-bujakowski commented on #91
Any progress with this issue? I'm using Storybook 5 and can generate the json file, but Sketch throws and error that layers couldn't be imported :/

[2020-04-16 20:53] Paul-Hebert commented on #59
I needed to solve a couple issues to solve this:

- If I don't set a font family and use the browser defaults the import will fail. Setting the font-family to a locally installed font fixed this error
- I had background shapes. `html-sketchapp` was giving them a border of thickness `null`. Changing the thickness to `0` solved that issue.

[2020-04-16 20:54] Paul-Hebert commented on #60
I needed to solve a couple issues to resolve this:

- If I don't set a font family and use the browser defaults the import will fail. Setting the font-family to a locally installed font fixed this error
- I had background shapes. `html-sketchapp` was giving them a border of thickness `null`. Changing the thickness to `0` solved that issue.

By making those 2 changes I was able to get imports to wo

[2020-04-28 04:39] jrwpatterson commented on #91
Is there any updates to this, I would hate to have to download storybook for this software?

[2020-04-28 04:58] jrwpatterson commented on #91
Partly because I can't even find the documentation for v4.x.x

[2020-04-28 06:47] jrwpatterson commented on #91
@jakub-bujakowski did you find an issue as I have the same problem

[2020-04-28 14:11] FarisSum commented on #91
@jrwpatterson @jakub-bujakowski @njradford @gabriel-kohen-jdas

The below works for me in 6.0 alpha actually:
1.	`npm run build-storybook`
2.	`npm run story2sketch` (looks to the index.html INPUT that's generated in step 1) **
3.	The OUTPUT is a JSON file **

** story2sketch.config.js is required, where the INPUT and OUTPUT directories are specified.

Make sure the above commands work in your pack

[2020-04-30 19:54] merryt commented on #91
@FarisSum Would you mind sharing your `story2sketch.config.js`?

[2020-05-01 02:27] FarisSum commented on #91
@merryt

Instead of using stories: "all", try utilizing the layoutBy + specify the individual stories in story2sketch.config.js:

[code]

You can also try groupBy, which will create multiple JSON files.

Perhaps you will find if any particular story it the root cause of the layer errors.

Curious what you get...

[2020-05-01 02:52] jrwpatterson commented on #91
@merryt yup thats my issue the #59

[2020-05-01 13:54] merryt commented on #91
I was able to get it to work by rolling sketch back to v63.1 , YMMV, but my issue was caused by  https://github.com/html-sketchapp/html-sketchapp/issues/191 not #59

[2020-05-07 22:00] helabenkhalfallah commented on #92
I had a similar issue, I resolved it by :
`npm run build-storybook` then `npm run story2sketch`.

[2020-05-07 23:39] helabenkhalfallah opened #95 "[Question]: reload sketch without reimport each time"
Hello,

Is there a way to reload directly imported json file inside sketch without reimport it each time I modify my storybook ? (like react-sketch-app).

Each time I must run build storybook => story2sketch => reimport in sketch to see updated components.

Thank you so much for this awesome tool :)

[2020-05-15 21:50] caseycoates commented on #11
My issue is with modals, or any type of popover, has a different root than the rest of my components. Would like to specify a different root just for those stories.

[2020-05-26 19:33] helabenkhalfallah commented on #95
Any feedback, thanks  :) :)

[2020-05-26 19:53] helabenkhalfallah opened #96 "[Issue] reimport json reset all artboard"
Hello,

When reimporting json, all my new artboards are deleted and workspace reseted (all my in progress works are loosed).

Thanks  for your help :)

[2020-06-17 15:09] Ellieutt commented on #91
Any update on this ?

[2020-08-12 23:22] #68 closed

[2020-10-29 21:02] itsderek23 commented on #91
I was able to get this running with Sketch v69.2 and Storybook v6 by using the [updated asketch2sketch plugin](https://github.com/html-sketchapp/html-sketchapp/tree/master/asketch2sketch) that is available in html-sketchapp v4.4.1. Without this update, no layers could be imported. For background on this fix, see https://github.com/html-sketchapp/html-sketchapp/issues/196.

My commands:

[code]

I

[2020-10-29 21:12] itsderek23 commented on #60
As @chrisvxd wrote, this was an issue w/an underlying dependency (sketchapp-json-plugin) and not story2sketch (at least in my case).

I was seeing the same (none of my layers could be imported) with both `story2sketch` and `html-sketchapp`. After installing the `asketch2sketch.sketchplugin` generated from `html-sketchapp` v4.4.1, things started working again.

There's background on the cause [in t

[2020-11-16 18:37] chrisvxd commented on #60
Closed by #103, thanks @itsderek23!

[2020-11-16 18:37] #60 closed

[2020-11-16 18:38] chrisvxd commented on #91
Closed by #103, thanks _again_ @itsderek23!

[2020-11-16 18:38] #91 closed

[2020-11-16 18:38] chrisvxd commented on #91
Landed officially in `v1.7.1`

[2020-11-16 18:43] chrisvxd commented on #92
story2sketch@1.7.1 now supports Storybook v5 and 6. Closing this on that basis, but feel free to reopen if you're still having issues.

[2020-11-16 18:43] #92 closed

[2020-11-21 23:37] itsderek23 commented on #47
If this is referring to creating a Sketch file from a built Storybook, as of Storybook v6 file urls do not work (see https://github.com/storybookjs/storybook/issues/7215#issuecomment-730056304). You must use `npx http-server storybook-static/` to run a built storybook.

[2020-11-23 09:00] chrisvxd commented on #47
@itsderek23 I believe this issue was before Storybook 6 existed.

Are you successfully using story2sketch on an HTML-only storybook?

[2020-11-23 13:22] itsderek23 commented on #47
Ah.

Yes if using `npx http-server storybook-static/`. No if using `--input storybook-static`. I've only tested against Storybook 6.

[2020-11-24 09:10] chrisvxd commented on #47
Great, thanks for clarifying!

[2021-02-25 03:58] HasamiAini commented on #29
**### experiencing problems as below**

(node:14320) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
    at ExecutionContext._evaluateInternal (D:\data bot\wabot sahaja\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:172:23)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async ExecutionContext.e

[2021-03-20 18:59] ceciliaschiebel opened #108 "Sketch crashes when inspecting certain layers"
I'm using
story2sketch v1.7.1
story2sketch Sketch plugin v4.5.0
Sketch v70.6

This happens when I import a Symbol that originally, in the HTML version, contains an SVG.
When I try to inspect that layer (either by cmd + click or clicking in the layers section) Sketch closes. And other team members were able to reproduce too.
Any idea what can be causing this?

[2021-03-20 19:48] ceciliaschiebel commented on #108
I found out that I'm able to inspect the layer if the layer's name is not an empty object, i.e. svg group layers should have a name:
this is part of my original JSON
[code]

[2022-09-15 20:26] carpiediem commented on #51
I'm getting the same error. I think the root of the problem is the `firstChild` attribute [in getSymbol()](https://github.com/chrisvxd/story2sketch/blob/master/src/browser/page2layers.js#L98). If `getSymbol()` is called without `querySelector` defined in the options argument, it sets `nodes = document.querySelector(querySelector).firstChild` (note: this should be singular, `node`).

The trouble is